<ul class="nav nav-tabs" id="settings-tabs">
	<li class="active"><a data-toggle="tab" href='#users'><i class="icon-user"></i></a></li>
	<li><a data-toggle="tab" href='#rooms'><i class="icon-home"></i></a></li>
	<li><a data-toggle="tab" href='#settings'><i class="icon-pencil"></i></a></li>
</ul> 
<div class="tab-content">
	<div class="tab-pane active" id="users"></div>
	<div class="tab-pane" id="rooms"><p>Rooms</p></div>
	<div class="tab-pane" id="settings"><p>Settings</p></div>
</div>