@import 'nib'


body 
  overflow:hidden

.fill 
  min-height: 100%
  height: 100%


section#chat-container 
  display:block


#chat-container #chat-content 
  height:100%
  display:block

section#chat-input 
  display:block
  position:fixed
  bottom:0
  z-index: 99999

section#chat-input textarea 
    width:100%


#room-list .pull-right 
    float:right