<li class="active"><a data-toggle="tab" href='#users'><i class="icon-user"></i></a></li>
<li><a data-toggle="tab" href='#rooms'><i class="icon-home"></i></a></li>
<li><a data-toggle="tab" href='#settings'><i class="icon-pencil"></i></a></li>